.fadeIn {
    opacity: 0;
    animation: fadeIn 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s forwards;

    // h1 { 
    //     &:nth-child(1) {
    //         animation: up 0.8s ease-out 0.45s forwards;
    //     }
    //     &:nth-child(2) {
    //         animation: up 0.8s ease-out 0.45s forwards;
    //     }
    // }

}

.fadeOut {
    opacity: 1;
    animation: fadeOut 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}
