@import '../../styles/variables';

.project {
    transform: translateY(10vh);
    margin-bottom: 15vh;

    .header {
        display: flex;
        justify-content: space-between;

        border-bottom: 2px solid $text_white_80;

        span {
            font-size: 18px;
            font-weight: 400;

            margin: 10px 0;
            // font-weight: 300;
            width: auto;
        }
    }

    span, p {
        font-family: 'Rubik';
        font-size: 15px;
        font-weight: 400;

        overflow: hidden;
        width: 410px;
    
        color: $text_white_80;
        text-align: justify;
    }

    a {
        text-decoration: none;
        outline: none;
        
        font-size: clamp(16px, 4vw, 18px);
        color: $text_white_80;
    }

    .grid {
        display: grid;
        width: 100%;
        
        grid-template-columns: 1fr 1fr 1fr;

        .title-description {
            a {
                text-decoration: underline;
                color: $text_white_80;
            }
        }
    }

    .offset-container {
        width: 100vw;

        img {
            width: 100%;
        }
    }

    .footer {
        height: 30vh;
        width: 100%;
        
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        position: relative;


        .footer-wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            
            width: 100%;
            border-top: 2px rgba($color: #000000, $alpha: 0.6) solid;

            .subtitle-wrapper {
                display: inline-flex;
                flex-direction: row;
                align-items: center;

                position: relative;

                p {
                    display: inline-block;
                    font-family: 'Rubik';
            
                    color: $text_black_80;
                    text-transform: uppercase;
                    position: relative;
    
                    width: auto;
                    padding-top: 0;
                }
    
                .arrow {
                    position: relative;
                    display: inline;
                    max-width: 80px;
                    width: 10vw;
                    
                    border-top: 2px solid #757373;
                    overflow: visible;
        
                    &::after {
                        content: "";
                        display: inline-block;
                        box-sizing: border-box;
        
                        position: absolute;
                        right: 0;
                        top: -7px;
        
                        width: 12px;
                        height: 12px;
                        
                        border: 2px solid #757373;
                        border-left: none;
                        border-bottom: none;
        
                        transform: rotate(45deg);
                    }
                }
            }

            
            .right {

                p::after {
                    content: " Project";
                }

                .arrow {
                    margin-left: 10px;
                    margin-right: 2px;
                }
            }

            .left {
                p::after{
                    content: " Project";
                }
                
                .arrow {
                    margin-left: 2px;
                    margin-right: 10px;
    
                    transform: rotate(180deg);
                }
            }
        }
    }
}