@import '../../styles/variables';
 
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: relative;
    height: 100vh;
    width: 100vw;

    .center {
        h1 {
            font-family: 'Eksell Large';
            font-size: clamp(4rem, 4vw, 5rem);
            font-weight: 600;
    
            letter-spacing: 2px;
            color: rgba( 255, 255, 255, 0.8);
    
            padding: 10px;
            margin: 0;
        }
    
        .subtitle {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;

            letter-spacing: 0.1mm;
            color: rgba( 255, 255, 255, 0.7);
    
            padding: 15px;
            margin: 0;

            span {
                font-size: 64px;
            }
        }
    }

    .top-right {
        position: absolute;
        right: 0;
        top: 0;

        margin: 30px;

        display: flex;

        p {
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            font-weight: 400;
            
            text-transform: uppercase;
            letter-spacing: 1px;
            color: rgba( 255, 255, 255, 0.8);

            position: relative;
            margin: 0 2px;

            cursor: pointer;

            &:hover::after {
                width: 100%;
            }

            &::after {
                content: "";
                
                position: absolute;
                bottom: -10px;
                left: 0;

                width: 0%;
                height: 2px;

                transition: width .25s cubic-bezier(0.39, 0.575, 0.565, 1);
                background-color: rgba( 255, 255, 255, 0.8);
            }
        }

        .socials {
            display: none;
            
            span {
                font-size: 11px;
                color: rgba( 255, 255, 255, 0.6);
    
                padding: 0 8px;
            }
        }
    }

    .bottom-right {
        position: absolute;
        right: 30px;
        bottom: 0;

        p {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 400;

            transform: rotate(90deg);
            transform-origin: right;
            
            margin: 30px 9px;

            color: rgba( 255, 255, 255, 0.8);
        }
        
        .scroll-bar {
            margin: 20px 10px;
    
            transform: rotate(90deg);
            transform-origin: bottom right;
    
            width: $scroll-width;
            height: $scroll-height;
        
            overflow: hidden;
            background: rgba( 255, 255, 255, 0.2);
    
            &::after {
                content: "";
                background: rgba( 255, 255, 255, 0.8);
            
                position: absolute;
                width: $scroll-width;
                height: $scroll-height;
            
                animation: scroll-progress-animation 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            }
        }
    }

    .bottom-left {
        position: absolute;

        padding: 0;
        left: 0;
        bottom: -115px;
    }
}

#also {
    // margin-top: -10vw;
    margin-left: 30px;

    max-width: 220px;    

    p {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: 400;
       
        padding: 2px;
        margin: 30px 9px;
    
        color: rgba( 255, 255, 255, 0.8);

        &::before {
            content: "*";
            font-size: 60px;

            position: absolute;
            margin-left: -30px;
            margin-top: -15px;
        }
    }
}