@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;600&display=swap');

@font-face {
    font-family: "Eksell Large";
    src: url(../assets/fonts/Eksell/EksellDisplay-Large.woff);
    font-display: swap;
}

@font-face {
    font-family: "Eksell Medium";
    src: url(../assets/fonts/Eksell/EksellDisplayWeb-Medium.woff);
    font-display: swap;
}

@font-face {
    font-family: "Harmony";
    src: url(../assets/fonts/Harmony/harmony.otf);
    font-display: swap;
}

@font-face {
    font-family: "Loki Regular";
    src: url(../assets/fonts/Loki/Loki-Regular.otf);
    font-display: swap;
}

@font-face {
    font-family: "Argesta Regular";
    src: url(../assets/fonts/Argesta/argestadisplay-regular-webfont.woff);
    font-display: swap;
}

@font-face {
    font-family: "Kenoky";
    src: url(../assets/fonts/Kenoky/KenokyLight-3zezL.ttf);
    font-display: swap;
}

@font-face {
    font-family: "IvyPresto";
    src: url(../assets/fonts/font.woff);
    font-display: swap;
}


@font-face {
    font-family: "Roslindale";
    src: url(../assets/fonts/Roslindale/Roslindale-DisplayCondensedLight.woff);
    font-display: swap;
}

@font-face {
    font-family: "Bosch";
    src: url(../assets/fonts/Bosch/Bosch.otf);
    font-display: swap;
}