@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@font-face {
    font-family: "Eksell Large";
    src: url(../assets/fonts/Eksell/EksellDisplay-Large.woff);
    font-display: swap;
}

@font-face {
    font-family: "Eksell Medium";
    src: url(../assets/fonts/Eksell/EksellDisplayWeb-Medium.woff);
    font-display: swap;
}
