@media screen and (max-width: 518px) {
    .hero .top-right p::after {
        width: 100%;
    }

    .hero .top-right .socials {
        display: none;
    }

    .hero .bottom-left {
        left: 0;
        bottom: -115px;

        padding: 0;
    }

    .projects {
        padding-top: 35vh !important;
    }

    .hero .center .subtitle {
        text-align: inherit;
    }
}

@media screen and (max-width: 1115px) {
    main {
        align-items: stretch !important;
    }

    .projects .project-wrapper {
        justify-content: unset;
    }
}