$underline-height: 2px;
$background_white: #f5f2f2;//rgb(231, 225, 225);

$text_white_80: rgba( 0, 0, 0, 0.8); //rgba( 255, 255, 255, 0.8);

$text_black_40: rgba( 0, 0, 0, 0.4);
$text_black_80: rgba( 0, 0, 0, 0.8);