@import '../../styles/variables';
@import '../../styles/underline';

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    // height: 110vh;
    width: 100%;

    z-index: -1;

    .title-wrapper {
        display: flex;
        overflow: hidden;
        
        position: absolute;
        left: 7.5%;

        h1 {
            font-family: 'Bosch';
            font-size: 10vw;
            font-weight: 600;
    
            color: $text_white_80;
            margin: 0 1vw;

            // opacity: 0;
            // transform: translate3d(0, 150%, 0);
    
            // background: url(../../assets/imgs/grain.png);
            // background-clip: text;
    
            span {
                font-style: italic;
                font-weight: 400;
    
                margin-right: 0.5vw;
                margin-left: -0.7vw;
            }
        }
    }
}

.subtitle {
    // position: absolute;
    // bottom: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5vh 0;

    .subtitle-wrapper {
        text-decoration: none;
        
        p {
            font-family: 'Rubik';
            font-size: 15px;
            font-weight: 400;
    
            overflow: hidden;
            max-width: 410px;
            width: 90vw;
        
            color: $text_white_80;
            text-align: justify;

            position: relative;
            padding: 1em 0;
            margin: 0;
        }

        .arrow {
            display: inline-block;
            width: 30px;

            margin-left: 5px;
            border-top: 2px solid #757373;

            position: absolute;
            top: calc(0.5em + 1px);

            &::after {
                content: "";
                display: inline-block;
                box-sizing: border-box;

                position: absolute;
                right: 0;
                top: -7px;

                width: 12px;
                height: 12px;
                
                border: 2px solid #757373;
                border-left: none;
                border-bottom: none;

                transform: rotate(45deg);
            }
        }
        
        .scroll-indicator {
            display: inline-flex;
            align-items: center;
            
            font-size: 18px;

            span {
                font-size: 22px;
                padding: 0 4px;
            }
        }
    }
}
