@import '../../../../styles/variables';

.projects {
    display: grid;
    width: 100%;

    margin-top: 5vw;

    grid-template-columns: 41.17% 27.06% 31.77%;
    grid-auto-flow: row;

    .post {
        height: fit-content;
        max-width: max-content;
        margin: 30px;

        text-decoration: none;

        &:nth-child(2n) {
            grid-column-start: 3;
            grid-column-end: 4;
            
            justify-self: end;
        }

        &:nth-child(2n+1) {
            grid-column-start: 1;
            grid-column-end: 2;

            justify-self: end;
        }
        
        &:first-child {
            justify-self: baseline;
        }
        
        .title-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h5, p {
                font-family: 'Rubik', sans-serif;
                font-size: 16px;
                font-weight: 400;

                text-transform: uppercase;
                color: $text_black_80;
                
                margin: 0;
            }

            span {
                font-weight: 300;
            }
        }

        .image-container {
            padding: 10px 0;

            img {
                max-height: 500px;
                // width: 100%;
                // max-width: 500px;
                
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}

.projects-footer {
    height: 30vh;
    width: 100%;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    position: relative;

    .footer-wrapper {
        position: absolute;
        bottom: 10%;
        
        width: 90vw;
        border-top: 2px rgba($color: #000000, $alpha: 0.6) solid;

        display: flex;
        align-items: flex-end;
        justify-content: center;


        p {
            display: inline-block;
            font-family: 'Rubik';
    
            color: $text_black_80;
            text-transform: uppercase;
        }
    
        a {
            // width: 100%;
            padding: 0 10px;
            
            &:not(:first-child) {
                border-left: 2px rgba($color: #000000, $alpha: 0.6) solid;
            }
        }
    }
}