@import '../../../../styles/variables';

.projects {
    display: grid;
    width: 100%;

    margin-top: 5vw;

    grid-template-columns: 41.17% 27.06% 31.77%;
    grid-auto-flow: row;

    .post {
        height: fit-content;
        width: max-content;
        margin: 30px;

        text-decoration: none;
        cursor: none;

        &:nth-child(2n) {
            grid-column-start: 3;
            grid-column-end: 4;
            
            justify-self: end;
        }

        &:nth-child(2n+1) {
            grid-column-start: 1;
            grid-column-end: 2;

            justify-self: end;
        }
        
        &:first-child {
            justify-self: unset;
        }
        
        .title-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h5, p {
                font-family: 'Rubik', sans-serif;
                font-size: 16px;
                font-weight: 400;

                text-transform: uppercase;
                color: $text_black_80;
                
                margin: 0;
            }

            span {
                font-weight: 300;
            }
        }

        .image-container {
            padding: 10px 0;

            img {
                max-height: 500px;
                
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}

.link-more-wrapper {
    height: 50vh;
    width: 100vw;

    display: flex;
    align-items: center;

    position: absolute;
    left: 0;

    p {
        display: inline-block;

        font-family: 'Bosch'; 
        font-size: 9vw;  
        font-weight: 200;
        
        text-transform: uppercase;
        white-space: nowrap;
        color: $text_black_80;

        margin: 0;

        span {
            display: inline-block;
            transform: scaleX(2);
        }
    }
}